-- ============================================================
-- ENCORB PLATFORM — SUPABASE SCHEMA
-- Run this in your Supabase SQL Editor (Project -> SQL Editor)
-- ============================================================

-- ─── EXTENSIONS ─────────────────────────────────────────────
create extension if not exists "uuid-ossp";

-- ─── ENUM TYPES ─────────────────────────────────────────────
DO $$ BEGIN
    CREATE TYPE user_role AS ENUM ('buyer', 'seller', 'admin');
EXCEPTION WHEN duplicate_object THEN null; END $$;

DO $$ BEGIN
    CREATE TYPE listing_status AS ENUM ('active', 'paused', 'draft', 'sold');
EXCEPTION WHEN duplicate_object THEN null; END $$;

DO $$ BEGIN
    CREATE TYPE request_status AS ENUM ('pending', 'accepted', 'rejected', 'cancelled');
EXCEPTION WHEN duplicate_object THEN null; END $$;

DO $$ BEGIN
    CREATE TYPE transaction_status AS ENUM ('confirmed', 'pickup_scheduled', 'in_transit', 'delivered', 'completed', 'cancelled');
EXCEPTION WHEN duplicate_object THEN null; END $$;

DO $$ BEGIN
    CREATE TYPE waste_category AS ENUM ('Plastic', 'Paper', 'Metal', 'Glass', 'E-Waste', 'Textile', 'Organic', 'Industrial', 'Other');
EXCEPTION WHEN duplicate_object THEN null; END $$;

-- ─── PROFILES TABLE ─────────────────────────────────────────
create table if not exists public.profiles (
  id            uuid primary key references auth.users(id) on delete cascade,
  name          text not null,
  email         text not null,
  role          user_role not null default 'buyer',
  phone         text,
  location      text,
  bio           text,
  business_name text,
  active        boolean not null default true,
  created_at    timestamptz not null default now()
);

alter table public.profiles enable row level security;

drop policy if exists "Profiles are publicly readable" on public.profiles;
create policy "Profiles are publicly readable"
  on public.profiles for select using (true);

drop policy if exists "Users can update own profile" on public.profiles;
create policy "Users can update own profile"
  on public.profiles for update using (auth.uid() = id);

-- ─── LISTINGS TABLE ─────────────────────────────────────────
create table if not exists public.listings (
  id            uuid primary key default uuid_generate_v4(),
  seller_id     uuid not null references public.profiles(id) on delete cascade,
  seller_name   text not null,
  seller_business text,
  title         text not null,
  category      waste_category not null,
  description   text not null,
  quantity      numeric not null,
  unit          text not null default 'KG',
  price         numeric not null,
  currency      text not null default 'INR',
  location      text not null,
  image_url     text,
  status        listing_status not null default 'active',
  created_at    timestamptz not null default now(),
  updated_at    timestamptz not null default now()
);

alter table public.listings enable row level security;

drop policy if exists "Active listings are publicly readable" on public.listings;
create policy "Active listings are publicly readable"
  on public.listings for select using (status = 'active' or seller_id = auth.uid());

drop policy if exists "Sellers can create listings" on public.listings;
create policy "Sellers can create listings"
  on public.listings for insert with check (auth.uid() = seller_id);

drop policy if exists "Sellers can update own listings" on public.listings;
create policy "Sellers can update own listings"
  on public.listings for update using (auth.uid() = seller_id);

drop policy if exists "Sellers can delete own listings" on public.listings;
create policy "Sellers can delete own listings"
  on public.listings for delete using (auth.uid() = seller_id);

-- ─── BUYER REQUESTS TABLE ───────────────────────────────────
create table if not exists public.buyer_requests (
  id            uuid primary key default uuid_generate_v4(),
  listing_id    uuid not null references public.listings(id) on delete cascade,
  listing_title text not null,
  buyer_id      uuid not null references public.profiles(id) on delete cascade,
  buyer_name    text not null,
  seller_id     uuid not null references public.profiles(id) on delete cascade,
  seller_name   text not null,
  quantity      numeric not null,
  message       text,
  status        request_status not null default 'pending',
  created_at    timestamptz not null default now()
);

alter table public.buyer_requests enable row level security;

drop policy if exists "Buyers and sellers can view their own requests" on public.buyer_requests;
create policy "Buyers and sellers can view their own requests"
  on public.buyer_requests for select
  using (buyer_id = auth.uid() or seller_id = auth.uid());

drop policy if exists "Buyers can create requests" on public.buyer_requests;
create policy "Buyers can create requests"
  on public.buyer_requests for insert with check (auth.uid() = buyer_id);

drop policy if exists "Sellers can update request status" on public.buyer_requests;
create policy "Sellers can update request status"
  on public.buyer_requests for update using (auth.uid() = seller_id);

-- ─── TRANSACTIONS TABLE ─────────────────────────────────────
create table if not exists public.transactions (
  id            uuid primary key default uuid_generate_v4(),
  request_id    uuid references public.buyer_requests(id),
  listing_id    uuid references public.listings(id),
  listing_title text not null,
  buyer_id      uuid not null references public.profiles(id),
  buyer_name    text not null,
  seller_id     uuid not null references public.profiles(id),
  seller_name   text not null,
  category      waste_category not null,
  quantity      numeric not null,
  unit          text not null,
  price         numeric not null,
  total         numeric not null,
  location      text,
  status        transaction_status not null default 'confirmed',
  created_at    timestamptz not null default now(),
  updated_at    timestamptz not null default now()
);

alter table public.transactions enable row level security;

drop policy if exists "Buyers and sellers can view own transactions" on public.transactions;
create policy "Buyers and sellers can view own transactions"
  on public.transactions for select
  using (buyer_id = auth.uid() or seller_id = auth.uid());

drop policy if exists "System can insert transactions" on public.transactions;
create policy "System can insert transactions"
  on public.transactions for insert with check (auth.uid() = seller_id);

-- ─── NOTIFICATIONS TABLE ────────────────────────────────────
create table if not exists public.notifications (
  id            uuid primary key default uuid_generate_v4(),
  user_id       uuid not null references public.profiles(id) on delete cascade,
  type          text not null,
  title         text not null,
  message       text not null,
  read          boolean not null default false,
  created_at    timestamptz not null default now()
);

alter table public.notifications enable row level security;

drop policy if exists "Users can see own notifications" on public.notifications;
create policy "Users can see own notifications"
  on public.notifications for select using (user_id = auth.uid());

drop policy if exists "Users can update own notifications" on public.notifications;
create policy "Users can update own notifications"
  on public.notifications for update using (user_id = auth.uid());

drop policy if exists "Authenticated users can insert notifications" on public.notifications;
create policy "Authenticated users can insert notifications"
  on public.notifications for insert with check (auth.role() = 'authenticated');

-- ─── ADMIN OVERRIDES ────────────────────────────────────────
create or replace function public.is_admin()
returns boolean language sql security definer as $$
  select exists (
    select 1 from public.profiles
    where id = auth.uid() and role = 'admin'
  );
$$;

drop policy if exists "Admins can read all profiles" on public.profiles;
create policy "Admins can read all profiles"
  on public.profiles for select using (is_admin());

drop policy if exists "Admins can update any profile" on public.profiles;
create policy "Admins can update any profile"
  on public.profiles for update using (is_admin());

drop policy if exists "Admins can read all listings" on public.listings;
create policy "Admins can read all listings"
  on public.listings for select using (is_admin());

drop policy if exists "Admins can update any listing" on public.listings;
create policy "Admins can update any listing"
  on public.listings for update using (is_admin());

drop policy if exists "Admins can delete any listing" on public.listings;
create policy "Admins can delete any listing"
  on public.listings for delete using (is_admin());

drop policy if exists "Admins can read all requests" on public.buyer_requests;
create policy "Admins can read all requests"
  on public.buyer_requests for select using (is_admin());

drop policy if exists "Admins can read all transactions" on public.transactions;
create policy "Admins can read all transactions"
  on public.transactions for select using (is_admin());

-- ─── TRIGGER: Auto-create profile on sign-up ────────────────
create or replace function public.handle_new_user()
returns trigger language plpgsql security definer set search_path = public as $$
begin
  insert into public.profiles (id, name, email, role, business_name)
  values (
    new.id,
    coalesce(nullif(new.raw_user_meta_data->>'name', ''), split_part(coalesce(new.email, 'user'), '@', 1)),
    coalesce(new.email, ''),
    case when new.raw_user_meta_data->>'role' = 'seller'
      then 'seller'::public.user_role
      else 'buyer'::public.user_role
    end,
    nullif(new.raw_user_meta_data->>'business_name', '')
  )
  on conflict (id) do update set
    name = excluded.name,
    email = excluded.email,
    business_name = coalesce(excluded.business_name, public.profiles.business_name);
  return new;
end;
$$;

drop trigger if exists on_auth_user_created on auth.users;
create trigger on_auth_user_created
  after insert on auth.users
  for each row execute procedure public.handle_new_user();

-- ─── SEED: Demo accounts ────────────────────────────────────
-- UPDATE public.profiles SET role = 'admin'  WHERE email = 'admin@encorb.com';
